version: 2
# commands:
#   sayhello:
#     description: "HELLO WORLD"
#     parameters:
#       to:
#         type: string
#         default: "world"
#     steps:
#       - run: echo sayhello world << parameters.to >>

# executors:
#   my-executor:
#     docker:
#       - image: cimg/ruby:2.7.1-node
#     environment:
#       BUNDLE_PATH: vendor/bundle

jobs:
  build:
    docker:
      - image: cimg/ruby:2.7.1-node
    # executor: my-executor
    # environment:
    #   RAILS_ENV: production
    steps:
      # - sayhello:
        # to: Everyone
      - run: echo Hello world

  deploy:
    docker:
      - image: busybox
    steps:
      - run: echo "deploy job"
# version: 2
# jobs:
#   build:
#     docker:
#       - image: cimg/node:lts
#     steps:
#       - checkout
#       - run: yarn install
#       - run: yarn test

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - hold-test:
        type: approval
        requires:
          - build
      - deploy:
          requires:
            - hold-test

